<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="APS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="APS.Properties.Settings.WePassConnectionString" connectionString="Data Source=DESKTOP-S90N4GL;Initial Catalog=WePass;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="APS.Properties.Settings.WePassConnectionString1" connectionString="Data Source=localhost;Initial Catalog=WePass;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <APS.Properties.Settings>
            <setting name="BD_SERVER" serializeAs="String">
                <value>SURFACE-CARLOS</value>
            </setting>
            <setting name="BD_NAME" serializeAs="String">
                <value>WePass</value>
            </setting>
        </APS.Properties.Settings>
    </applicationSettings>
</configuration>
