<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="APS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="APS.Properties.Settings.WePassConnectionString" connectionString="Data Source=DESKTOP-S90N4GL;Initial Catalog=WePass;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="APS.Properties.Settings.WePassConnectionString1" connectionString="Data Source=localhost;Initial Catalog=WePass;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WePassEntities" connectionString="metadata=res://*/ImagenesDB.dbUsuario.csdl|res://*/ImagenesDB.dbUsuario.ssdl|res://*/ImagenesDB.dbUsuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=WePass;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <APS.Properties.Settings>
      <setting name="BD_SERVER" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="BD_NAME" serializeAs="String">
        <value>WePass</value>
      </setting>
    </APS.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4450.0.40" newVersion="17.4450.0.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>